* {
  -webkit-text-size-adjust: none;
}

* {
  -webkit-text-size-adjust: none;
}

@media (pointer: coarse) and (orientation: portrait) {
  body {
    height: 100vh;
    height: -webkit-fill-available;
    height: -moz-available;
    height: fill-available;
  }
  select option {
    color: #000;
  }
}