@media all and (min-width: 1200px) {
  .wrapper header .header_box1 .bg {
    margin-right: 0.5rem;
  }
  .wrapper header .header_box2 .iconbox .col div > span {
    font-size: 16px;
  }
  .wrapper header .header_box2 .iconbox .col div ul.time li {
    padding: 0;
  }
}
@media all and (min-width: 1300px) {
  .wrapper header .header_box1 .bg {
    margin-right: 1rem;
  }
  .wrapper header .header_box1 h1 a img {
    height: 35px;
  }
  .wrapper header .header_box2 .iconbox .col div > span {
    font-size: 18px;
  }
  .wrapper header .header_box2 .iconbox .col div ul.time li {
    padding: 0 10px;
  }
}
@media (max-width: 1199px) and (orientation: portrait) {
  .mapwrapper ul#line_view {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    height: 2.5rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: auto;
    top: 3rem;
    max-width: 100%;
    overflow: auto;
  }
  .mapwrapper .map_sort {
    top: 6.5rem;
  }
}
@media (max-width: 1199px) and (orientation: landscape) {
  .mapwrapper ul#line_view {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 5rem;
    height: auto;
    border-radius: 4px;
    width: auto;
    top: 1rem;
    max-width: 500px;
  }
  .mapwrapper ul#line_view li {
    line-height: 1.2;
  }
  .mapwrapper .map_sort {
    top: 3.5rem;
  }
  .mapwrapper aside .tongbox {
    display: none;
  }
  .mapwrapper aside ul.tab_bar {
    overflow-y: auto;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu {
    height: auto;
    padding: 0.5rem 0;
    box-sizing: border-box;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.tab_list {
    position: fixed;
    overflow-y: auto;
  }
  .qickmenu {
    height: 100%;
    top: 0;
  }
  .qickmenu #menulist {
    overflow-y: auto;
  }
  .wrapper header {
    flex-direction: column;
    justify-content: center;
    height: 45px;
  }
  .wrapper header .header_box1 {
    width: 100%;
    order: 2;
  }
  .wrapper header .header_box1 .bg {
    margin-right: 0;
  }
  .wrapper header .header_box1 h1 a img {
    height: 30px;
  }
  .wrapper header .header_box2 {
    display: none;
  }
  .wrapper .contentbox {
    display: initial;
    position: relative;
    height: 100%;
  }
  .wrapper .contentbox .content {
    height: calc(100vh - 45px - 56px);
  }
  .wrapper .contentbox .tab_nav {
    display: block;
    position: fixed;
    z-index: 8;
    bottom: 0;
    width: 100%;
  }
  .wrapper .contentbox .tab_nav ul.bottom_menu {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    width: 100%;
    background-color: #fff;
  }
  .wrapper .contentbox .tab_nav ul.bottom_menu > li {
    width: 25%;
    height: 100%;
    text-align: center;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper .contentbox .tab_nav ul.bottom_menu > li a {
    color: inherit;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
  }
  .wrapper .contentbox .tab_nav ul.bottom_menu > li a i {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .wrapper .contentbox .tab_nav ul.bottom_menu > li:nth-child(3) a {
    position: relative;
  }
  .wrapper .contentbox .tab_nav ul.bottom_menu > li:nth-child(3) a em {
    position: absolute;
    left: 0;
    top: 0;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 {
    background-color: #fff;
    position: absolute;
    bottom: 1rem;
    width: 98%;
    left: 1%;
    right: 1%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #ddd;
    width: 98%;
    max-width: 600px;
    bottom: 4rem;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather > span {
    background-color: #004b29;
    border-radius: 3px;
    color: #fff;
    padding: 5px;
    font-size: 17px;
    box-sizing: border-box;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    box-sizing: border-box;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox > div {
    width: 50%;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    padding: 8px 4px;
    box-sizing: border-box;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .weather_icon {
    box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .weather_icon .iconpot {
    width: 3rem;
    height: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/weather_icon1.png);
    background-repeat: no-repeat;
    background-position-y: -2px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .weather_icon ul {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: center;
    box-sizing: border-box;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .weather_icon ul li {
    line-height: 1.2;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .weather_icon ul li span {
    font-size: 16px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .weather_icon ul li:last-child {
    font-size: 15px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .rain {
    box-shadow: 3px 2px 10px 1px rgba(0, 0, 0, 0.5);
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .rain .water {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-bottom: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../img/rain.png);
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .rain ul {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .rain ul li {
    line-height: 1.2;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 .weather .weatherbox .rain ul li:last-child {
    font-size: 15px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 ul.time {
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 ul.time > li {
    width: 100%;
    border-top: 1px solid #eee;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    padding: 4px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 ul.time > li ul > li {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    line-height: 1.5;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 ul.time > li ul li.icon-1 span {
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: contain;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-image: url(../img/on1.png);
    width: 20px;
    height: 20px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_1 ul.time > li ul li.icon-2 span {
    background-image: url(../img/off1.png);
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: contain;
    margin-right: 5px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_2 {
    background-color: #fff;
    position: absolute;
    bottom: 1rem;
    width: 98%;
    left: 1%;
    right: 1%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #ddd;
    width: 98%;
    max-width: 600px;
    bottom: 4rem;
  }
  .wrapper .contentbox .tab_nav #mobiletab_2 .search_Bar .rebtn {
    margin-bottom: 4px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_2 .search_Bar .rebtn select {
    height: 30px;
    background-color: #004b29;
    color: #fff;
    padding: 0 8px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_2 .search_Bar .searchbox {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
  }
  .wrapper .contentbox .tab_nav #mobiletab_2 .search_Bar .searchbox .search_space {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
  }
  .wrapper .contentbox .tab_nav #mobiletab_2 .search_Bar .searchbox .search_space > div {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #004b29;
    color: #fff;
    padding: 0 8px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_2 .search_Bar .searchbox .search_space input {
    border: 1px solid #0C4A3C;
  }
  .wrapper .contentbox .tab_nav #mobiletab_2 .search_Bar .searchbox > select {
    border: 1px solid #0C4A3C;
    margin-right: 4px;
    width: 30%;
    padding: 0 8px;
  }
  .wrapper .contentbox .tab_nav #mobiletab_3 {
    background-color: #fff;
    position: absolute;
    bottom: 1rem;
    width: 98%;
    left: 1%;
    right: 1%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #ddd;
    width: 98%;
    max-width: 600px;
    max-height: 290px;
    overflow-y: auto;
    bottom: 4rem;
  }
  .wrapper .contentbox .tab_nav #mobiletab_3 .check_list {
    display: block;
  }
  .wrapper .contentbox .tab_nav #mobiletab_3 .check_list ul.check_box > li dl {
    cursor: pointer;
  }
  .wrapper .contentbox .tab_nav #mobiletab_3 .check_list ul.check_box > li dl .check_detail {
    width: calc(100% - 1.5rem);
  }
  .wrapper .contentbox .tab_nav #mobiletab_3 .check_list ul.check_box > li dl:nth-child(2) dd a:first-child {
    position: relative;
    padding: 0 1.3rem;
    height: 1.2rem;
    line-height: 1.2rem;
  }
  .wrapper .contentbox .tab_nav #mobiletab_3 .check_list ul.check_box > li dl:nth-child(2) dd a:first-child::before {
    content: "!";
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: #f51d0d;
    border: 1px solid #c4c6c9;
    font-weight: normal;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(242, 242, 242, 0.8509803922);
  }
  .wrapper .contentbox .tab_nav #mobiletab_3 .check_list ul.check_box > li dl + dl {
    margin-top: 0.2rem;
  }
  .wrapper .contentbox .tab_nav #mobiletab_4 {
    background-color: #fff;
    position: absolute;
    bottom: 1rem;
    width: 98%;
    left: 1%;
    right: 1%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid #ddd;
    width: 98%;
    max-width: 600px;
    bottom: 4rem;
  }
  .wrapper .contentbox .tab_nav #mobiletab_4 ul li {
    cursor: pointer;
    padding: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
  }
  .wrapper .contentbox .tab_nav #mobiletab_4 ul li a {
    font-size: 15px;
  }
  .wrapper .contentbox .tab_nav .tabcont {
    display: none;
  }
  .wrapper .contentbox .tab_nav .active {
    color: #0F994F;
  }
  .height_670 {
    max-width: 530px;
    min-height: 270px;
  }
  .w800 {
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 350px;
  }
  .height_600 {
    min-height: 300px;
  }
  .pop, .infopop, .minipop {
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
  }
  .bun_tab6, .bun_tab7, .bun_tab8 {
    overflow-y: auto;
  }
  .bun_tab6 .between > div:first-child, .bun_tab7 .between > div:first-child, .bun_tab8 .between > div:first-child {
    height: 100%;
  }
  .bun_tab6 .between, .bun_tab7 .between, .bun_tab8 .between {
    height: 100%;
  }
  .bun_tab6 .between .table_wrapper, .bun_tab7 .between .table_wrapper, .bun_tab8 .between .table_wrapper {
    height: auto;
  }
  .lamp_tab2, .lamp_tab3 {
    overflow: auto;
  }
  .lamp_tab2 .between, .lamp_tab3 .between {
    height: auto;
  }
  .lamp_tab3 .table_wrapper table.tab3_scroll {
    min-height: 100px;
  }
  .detailpop {
    right: 20px;
    top: -35px;
  }
  .pgpop {
    height: 100%;
    overflow: auto;
  }
}
@media (max-width: 768px) and (orientation: portrait) {
  .mapwrapper ul#line_view {
    top: 3rem;
  }
  .mapwrapper .map_sort {
    flex-direction: column;
    top: 6rem;
  }
  .mapwrapper .map_sort #naver {
    margin: 0;
  }
  .mapwrapper aside {
    display: block;
    height: 40px;
    top: 0;
    width: 100%;
  }
  .mapwrapper aside .side_bar {
    left: -328px;
    height: 100%;
  }
  .mapwrapper aside ul.tab_bar {
    position: initial;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    white-space: nowrap;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu {
    padding: 10px;
    justify-content: flex-start;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu a {
    writing-mode: horizontal-tb;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.off {
    left: 0;
    width: 100%;
    background-color: #fff;
    height: auto;
    top: 40px;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.tab_list {
    width: 100%;
    left: 0;
    top: 40px;
    height: auto;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.tab_list li:last-child {
    justify-content: space-between;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.tab_list li:last-child .re_logbtn {
    display: block;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.tab_list li:last-child .re_logbtn a {
    font-size: 14px;
    color: #666;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.tab_list li:last-child .re_logbtn a i {
    background-color: #eee;
    padding: 4px;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.tab_list li:last-child:nth-child(3) a {
    position: relative;
  }
  .mapwrapper aside ul.tab_bar li.tab_menu ul.tab_list li:last-child:nth-child(3) a em {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
  }
  .mapwrapper aside ul.tab_bar::-webkit-scrollbar {
    display: none;
  }
  .mapwrapper aside .tongbox {
    display: none !important;
  }
  .mapwrapper aside .move {
    left: 0;
    width: calc(100vw - 20px);
    z-index: 99;
    top: 0;
    height: 100%;
  }
  .qickmenu {
    top: 0;
  }
  .wrapper .cont .contbox .btnwrap {
    margin-top: 1rem;
    padding: 4px !important;
  }
  .wrapper .cont .contbox .btnwrap .rightbtn .search_box span {
    font-size: 15px;
    margin: 0;
  }
  .wrapper {
    overflow: auto;
    overflow-x: hidden;
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  .wrapper .cont {
    height: 100%;
    align-items: flex-start;
    padding-top: 0.5rem;
    box-sizing: border-box;
  }
  .wrapper .cont .col {
    justify-content: flex-start;
  }
  .wrapper .cont .col .month ul {
    padding-bottom: 0;
    max-width: 100%;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: auto;
  }
  .wrapper .cont .col .month ul::-webkit-scrollbar {
    height: 3px;
  }
  .wrapper .cont .col .month ul::-webkit-scrollbar-thumb {
    height: 4px;
    background-color: rgb(189, 189, 189);
    border-radius: px;
  }
  .wrapper .cont .col .month ul::-webkit-scrollbar-track {
    background-color: rgb(245, 245, 245);
    height: 8px;
  }
  .wrapper .cont .col .calender {
    max-width: 100%;
    padding-top: 1rem;
    height: 100%;
  }
  .wrapper .cont .col .calender .cal_wrap {
    width: 100%;
    align-items: flex-start;
  }
  .wrapper .cont .col .calender .cal_wrap::-webkit-scrollbar {
    height: 3px;
  }
  .wrapper .cont .col .calender .cal_wrap::-webkit-scrollbar-thumb {
    height: 4px;
    background-color: rgb(189, 189, 189);
    border-radius: px;
  }
  .wrapper .cont .col .calender .cal_wrap::-webkit-scrollbar-track {
    background-color: rgb(245, 245, 245);
    height: 8px;
  }
  .wrapper .cont .col .calender .cal_wrap table tr td {
    min-width: 80px;
  }
  .wrapper .cont .contbox .btnwrap .rightbtn {
    flex-wrap: wrap;
  }
  .wrapper .cont .contbox .btnwrap .rightbtn > select {
    margin: 2px;
  }
  .wrapper .cont .contbox .btnwrap .rightbtn .btn_bg {
    margin-left: 0;
  }
  .wrapper .cont .contbox .btnwrap .rightbtn .detail_btn, .wrapper .cont .contbox .btnwrap .rightbtn .detail_btn2 {
    display: flex;
  }
  .wrapper .cont .contbox .btnwrap .rightbtn .search {
    display: flex;
    align-items: center;
  }
  .wrapper .cont .contbox .btnwrap .rightbtn .search .flex {
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .wrapper .cont .contbox .btnwrap .rightbtn .bun_sel, .wrapper .cont .contbox .btnwrap .rightbtn .search_box, .wrapper .cont .contbox .btnwrap .leftbtn .bun_sel {
    display: none;
  }
  .wrapper .cont .contbox .paging {
    display: none;
  }
  .wrapper .cont .contbox .scroll_wrap {
    overflow: visible;
  }
  .wrapper .cont .contbox .scroll_wrap #tablewrap {
    height: 100%;
  }
  .wrapper .cont .contbox .scroll_wrap .bugabox .box {
    width: 100%;
  }
  .viewbox .table_wrapper table.basic tr td {
    white-space: nowrap;
  }
  .viewbox .table_wrapper table.basic tr td:nth-child(odd) {
    width: 30%;
  }
  .viewbox .table_wrapper table.basic tr td:nth-child(even) {
    width: 70%;
  }
  .viewbox .table_wrapper table.basic tr.night-time td {
    height: auto;
    line-height: initial;
  }
  .viewbox .table_wrapper table.basic tr.night-time td:nth-child(odd) {
    height: 50px;
    line-height: 50px;
  }
  .viewbox .table_wrapper table.basic tr.night-time td .datewrap {
    flex-wrap: wrap;
  }
  .viewbox .table_wrapper table.basic tr.night-time td .datewrap > div {
    margin-bottom: 2px;
  }
}
@media (max-width: 768px) and (orientation: landscape) {
  .btnwrap {
    margin-top: 1rem;
    padding: 4px !important;
  }
  .btnwrap .rightbtn .block {
    display: block;
  }
}