.wrapper .cont .col {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wrapper .cont .col .calender {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  order: 2;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
.wrapper .cont .col .calender .cal_nav {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.wrapper .cont .col .calender .cal_nav .year-month {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 1rem;
}
.wrapper .cont .col .calender .cal_nav > a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  border: 1px solid #989898;
  cursor: pointer;
}
.wrapper .cont .col .calender .cal_nav > a > i {
  color: #989898;
}
.wrapper .cont .col .calender .cal_wrap {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .cont .col .calender .cal_wrap .days {
  width: 700px;
  display: flex;
  margin: 25px 0 10px;
}
.wrapper .cont .col .calender .cal_wrap .dates {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wrapper .cont .col .calender .cal_wrap .day {
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
  width: 14.2857142857%;
  text-align: center;
}
.wrapper .cont .col .calender .cal_wrap .day:nth-child(7n+1),
.wrapper .cont .col .calender .cal_wrap .date:nth-child(7n+1) {
  color: #D13E3E;
}
.wrapper .cont .col .calender .cal_wrap .day:nth-child(7n),
.wrapper .cont .col .calender .cal_wrap .date:nth-child(7n) {
  color: #396EE2;
}
.wrapper .cont .col .month {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  order: 1;
  justify-content: center;
  margin-left: 1rem;
}
.wrapper .cont .col .month ul {
  border-bottom: 3px solid #008e45;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  box-sizing: border-box;
}
.wrapper .cont .col .month ul li {
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid #e1e4eb;
  border-right: none;
}
.wrapper .cont .col .month ul:last-child {
  border-right: 1px solid #e1e4eb;
}